@model IEnumerable<TP_Cine.Carteleras>
@{
    ViewBag.Title = "Administracion_Carteleras";
    
}
@{Html.RenderPartial("_AdministracionPartial");}
<h1 class="text-center">Administración: Carteleras</h1>
<div class="container-fluid">
    <div class="row-fluid">
            <h3>Peliculas en Cartelera </h3>
            <table class="table table-bordered table-hover">
                @{Html.RenderPartial("~/Views/Carteleras/Index.cshtml");}
            </table>
            <a href="@Url.Action("Crear","Carteleras")" role="button"  class="btn btn-default">Nueva Cartelera</a>
    </div>
</div>

