@model IEnumerable<TP_Cine.Carteleras>
@{
    ViewBag.Title = "Administracion_Carteleras";
    
}
@{Html.RenderPartial("_AdministracionPartial");}
<h1 class="text-center">Administración: Carteleras</h1>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-6">
            <h3>Peliculas en Cartelera </h3>
            <table class="table table-bordered table-hover">
                @{Html.RenderPartial("~/Views/Carteleras/Index.cshtml");}
            </table>
            <a href="@Url.Action("Crear","Carteleras")"> <button type="button" class="btn btn-default">Nueva Cartelera</button> </a>
        </div>
    </div>
</div>

@*<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nueva Cartelera</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "Carteleras", FormMethod.Post))
                {
                    @* Despues hacerlos con html helper *@
@*<div class="form-group">
                            <label>Sede:</label>
                            <select id="sede">
                                <option></option>

                            </select>
                        </div>
                        <div class="form-group">
                            <label>Película:</label>
                            <select id="pelicula">
                                <option></option>

                            </select>
                        </div>
                        <div class="form-group">
                            <label>Hora Inicio:</label>
                            <select id="horaInicio">
                                <option></option>

                            </select>
                        </div>
                        <div class="form-group">
                            <label>Día:</label>
                            <input id="Checkbox1" type="checkbox" /><span>Lunes </span>
                            <input id="Checkbox2" type="checkbox" /><span>Martes </span>
                            <input id="Checkbox3" type="checkbox" /><span>Miercoles </span>
                            <input id="Checkbox4" type="checkbox" /><span>Jueves </span>
                            <input id="Checkbox5" type="checkbox" /><span>Viernes </span>
                            <input id="Checkbox6" type="checkbox" /><span>Sabado </span>
                            <input id="Checkbox7" type="checkbox" /><span>Domingo </span>
                        </div>
                        <div class="form-group">
                            <label>Vigencia:</label>
                            <select id="FechaInicio">
                                <option></option>

                            </select>
                            <select id="FechaFin">
                                <option></option>

                            </select>
                        </div>
                        <div class="form-group">
                            <label>Sala:</label>
                            <select id="sala">
                                <option></option>

                            </select>
                        </div>
                        <div class="form-group">
                            <label>Versión:</label>
                            <select id="version">
                                <option></option>

                            </select>
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-default">Agregar</button>
                </div>
            </div>
        </div>
    </div>*@
