@using TP_Cine.Models;

<script src="~/js/FuncionesPeliculas/PreviewFoto.js"></script>

@{Html.RenderPartial("_AdministracionPartial");}
<h1>Administración: Películas</h1>

<div class="row">
    <div class="col-sm-9">
        <h3>Películas en cartelera</h3>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th colspan="2">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pelicula in Model)
                        {
                    <tr>
                        <td>@pelicula.IdPelicula</td>
                        <td>@pelicula.Nombre</td>
                        <td><a href="ABMPelicula/@pelicula.IdPelicula/ver">Ver</a></td>
                        <td><a href="ABMPelicula/@pelicula.IdPelicula/editar">Modificar</a></td>
                    </tr>
                     }

            </tbody>
        </table>
    </div>
</div>

<a href="ABMPelicula/0/agregar" class="btn btn-info" role="button">Nueva</a>

