@{
    ViewBag.Title = "Administracion_Peliculas";
}

@{Html.RenderPartial("_AdministracionPartial");}
<h1>Administración: Películas</h1>

<div class="row">
    <div class="col-sm-9">
        <h3>Películas en cartelera</h3>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                @*@foreach (Pelicula p in Model)
                        {
                    <tr>
                        <td>@p.IdPelicula</td>
                        <td>@p.Nombre</td>
                        <td><a href="">Ver</a></td>
                        <td><a href="">Modificar</a></td>
                    </tr>
                     }*@


                @*Borrar esto al conectar el modelo*@
                <tr>
                    <td>p.IdPelicula</td>
                    <td>p.Nombre</td>
                    <td><a href="">Ver</a></td>
                    <td><a href="">Modificar</a></td>
                </tr>
                <tr>
                    <td>p.IdPelicula</td>
                    <td>p.Nombre</td>
                    <td><a href="">Ver</a></td>
                    <td><a href="">Modificar</a></td>
                </tr>
                <tr>
                    <td>p.IdPelicula</td>
                    <td>p.Nombre</td>
                    <td><a href="">Ver</a></td>
                    <td><a href="">Modificar</a></td>
                </tr>
                <tr>
                    <td>p.IdPelicula</td>
                    <td>p.Nombre</td>
                    <td><a href="">Ver</a></td>
                    <td><a href="">Modificar</a></td>
                </tr>
                <tr>
                    <td>p.IdPelicula</td>
                    <td>p.Nombre</td>
                    <td><a href="">Ver</a></td>
                    <td><a href="">Modificar</a></td>
                </tr>
                <tr>
                    <td>p.IdPelicula</td>
                    <td>p.Nombre</td>
                    <td><a href="">Ver</a></td>
                    <td><a href="">Modificar</a></td>
                </tr>
                @*Fin de lo que hay que borrar*@
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal">Nuevo</button>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nueva Película</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post" action="AgregarPelicula">
                        <div class="modal-body">
                            @using (Html.BeginForm("AgregarPelicula", "Administracion", FormMethod.Post))
                            {
                                @* Despues hacerlos con html helper *@
                                <div class="form-group">
                                    <label>Nombre:</label>
                                    <input id="Text1" type="text" class="form-control" name="nombre" />
                                </div>
                                <div class="form-group">
                                    <label>Descripción:</label>
                                    <input id="Text2" type="text" class="form-control" name="descripcion" />
                                </div>
                                <div class="form-group">
                                    <label>Calificación:</label>
                                    <select id="Select1" name="calificaion">
                                        <option value="null" >Seleccione una Calificacion</option>
                                        <option value="ATP" >ATP</option>
                                        <option value="Mayores de 13" >Mayores de 13</option>
                                        <option value="Mayores de 13 con reserva" >Mayores de 13 con reserva</option>
                                        <option value="Mayores de 16" >Mayores de 16</option>
                                        <option value="Mayores de 16 con reserva" >Mayores de 16 con reserva</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Género:</label>
                                    <select id="Select2" name="genero">
                                        <option value="Terror" >Terror</option>
                                        <option value="Thiller" >Thiller</option>
                                        <option value="Acción" >Acción</option>
                                        <option value="Comedia" >Comedia</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Imágen:</label>
                                    <input id="File1" type="file" class="form-control" name="imagen" />
                                </div>
                                <div class="form-group">
                                    <label>Duración:</label>
                                    <input id="Text3" type="text" class="form-control" name="duracion" />
                                </div>
                            }
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-default">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>