@{
    ViewBag.Title = "_LoginPartial";
}
@if (Session["administrador"]!= null)
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/Home/Logout">Cerrar sesión</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
           <li><a href="@Url.Action("login", "home", new { ReturnUrl = "/Home/Inicio" })">Iniciar Sesión</a></li>
    </ul>
}
